

.chat-side
  .side-header
    .side-header__box
      current_user.name
      .side-header__box__menu
        = link_to new_group_path do
          %i.fa.fa-pencil-square-o.header-items__icons--pen
        = link_to edit_user_path(current_user.id) do
          %i.fa.fa-cog.header-items__icons--cog

  .groups
    - current_user.groups.each do |group|
      .group
        = link_to 'edit_group_path' do
          .group__name
            = group.name
          .group__message
            メッセージはまだありません。
  
    